strong {
    @include body-font;
    font-weight: $heavy-font-weight;
}

ul {
    margin-left: $size1;
}

li {
    margin-bottom: $size1;
}

.pb1 {
  padding-bottom: 1em;
}
.pr {
  padding-right: 1em;
}

.thumbnail {
  width: 7em;
}

.container {
  width: 80%;
  border-top: 1px solid $black;
  display: block;
  margin: auto;
}

.float-left {
  float: left;
}

.section {
    padding-top: $size5;
    padding-bottom: $size5;
    @include divider;

    &:last-child {
      border: 0;
    }
}

.row {
    display: flex;
}

.col {
    flex-grow: 1;
    padding-right: $size3;
}

.col3 {
    width: 33%;
}

.h2 {
    @include display-font;
    color: $primary-blue-color;
    font-size: $size4;
    font-weight: bold;
    line-height: 1.3;
}

.h3 {
    @include display-font;
    letter-spacing: -1;
    font-size: $size2;
    font-weight: bold;
    margin-top: $size2;
    margin-bottom: $size1 / 2;
}


.p {
    font-size: 18px;
    line-height: $size3;
    margin-bottom: $size2;
}

.summary {
    font-size: $size2;
    line-height: $size4;
}

.no-bullet {
    margin-left: 0;
    li {
        list-style-type: none;
        padding-bottom: $size1;
    }
}

.hilite {
    background-color: $hilite-color;
    border-top: 1px solid white;
}

/**
* Site header
*/
.site-header {
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-header .wrapper {
    @include divider;
}

.site-title {
    font-size: $size3;
    font-weight: 300;
    letter-spacing: -1px;
    padding-top: $size3;
    padding-bottom: $size3;
    float: left;
    text-transform: uppercase;
    text-decoration: none !important;
}



.site-nav {
    float: right;
    line-height: $size4;

    .menu-icon {
        display: none;
    }

    .page-link {
        margin-top: 40px;
        display: block;
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 36px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}


/**
* Hero
*/

.hero {
padding-top: $size4;
padding-bottom: $size4;
@include divider;
}

.hero-title {
    margin-bottom: $size2;
    @include display-font;
    font-weight: bold;
    font-size: $size3;
    line-height: $size4;
    letter-spacing: -1;
    color: $primary-blue-color;

}

.hero-desc {
    font-size: $size1;
    line-height: $size3;
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */




.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
    color: $primary-blue-color;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


@media only screen and (min-device-width: 668px) {
    .wrapper {
        max-width: 960px;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 0) and (max-device-width : 667px) {
    /* Styles */
    body {
        max-width: auto;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .container {
      width: auto;
    }

    .h2 {
        font-size: $size3;
        line-height: $size3;
    }
    .h3 {
        font-size: $size2;
    }
    .p, ul {
        font-size: $size1;
        line-height: $size2;
    }

    .row {
        flex-wrap: wrap;
    }
    .col3 {
        width: 100%;
    }

    .hero-title {
        line-height: $size4;
    }

}
