@mixin divider {
  border-bottom: 1px solid $black;
}

@mixin display-font {
  font-family: 'Titillium Web', Helvetica, sans-serif;
}

@mixin body-font {
  font-family: 'Merriweather', Helvetica, sans-serif;
}
