
@font-face {
  font-family: 'Gotham Bold';
  src:  url('../fonts/gotham-bold/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham-bold/Gotham-Bold.otf')  format('opentype'),
        url('../fonts/gotham-bold/Gotham-Bold.woff') format('woff'),
        url('../fonts/gotham-bold/Gotham-Bold.ttf')  format('truetype'),
        url('../fonts/gotham-bold/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
